/* FONTS
arno pro (noto serif placeholder)
open sans
*/

/* COLORS
purple:     #874fb2
--shade:    #7a47a1

--tint:     #e6f0f4
-tint:     #b6d8e4
teal:       #008aab
--shade:    #00738f

--tint:     #ece9f5
-tint:     #b9aac8
ag purple:  #532d6d
--shade:    #3d214f
*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Open+Sans:300,300i,700,700i');


/*********************************
GLOBAL STYLES
*********************************/

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  color: #532d6d;
  font-family: 'Noto Serif';
  font-weight: 400;
  text-transform: uppercase;
}

sup { font-size: 50%; }


/*********************************
LAYOUT ELEMENTS
*********************************/

.quiz-window {
  background: #fff;
  box-shadow: .1rem .1rem 1rem #666;
  height: 30rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
}

.header {
  margin: 1rem auto;
  text-align: center;
}

.agx-hearing-logo {
  height: auto;
}

.logo-intro {
  margin: 2rem;
  width: 20rem;
}

.logo-stages {
  margin: 0;
  width: 10rem;
}

.lead-text, .quiz-question-text {
  font-size: 1.2em;
  margin: .5rem 2rem;
  text-align: center;
}

.steps {
  height: 2rem;
  margin: 1rem auto;
}

[class*='step-'] {
  float: left;
  padding: .5rem 0;
  width: 25%;
}

.active-step {
  background: #008aab;
  color: #fff;
}

.inactive-step {
  background: #b6d8e4;
  color: #555;
}

[class*='prog-bar-'] {
  height: .5rem;
  margin: .2rem auto 2rem auto;
  text-align: center;
}

.prog-bubble {
  background: #b9aac8;
  border-radius: 100%;
  display: inline-block;
  height: .5rem;
  margin: 0 .3rem;
  width: .5rem;
}

.prog-current {
  background: #532d6d;
}

.quiz-body {
  margin: 3rem auto;
}


/*********************************
OBJECT ELEMENTS
*********************************/

.calib-body {
  margin: 2rem auto;
}

.calib-ui {
  height: 10rem;
  margin: 2rem auto;
  position: relative;
}

[class*='calib-side-'] {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.calib-side-l { left: 30%; }
.calib-side-r { right: 30%; }

[class*='calib-tone-'] {
  border-radius: 10rem;
  color: #888;
  font-size: .8em;
  margin: .5rem 0;
  padding: .2rem;
  text-align: center;
}

.active-calib-tone {
  background: #b9aac8;
  color: #444;
  font-weight: 700;
}

[class*='calib-label-'] {
  background: #b6d8e4;
  border-radius: 100%;
  font-size: 1.2em;
  height: 4rem;
  line-height: 320%;
  margin: .5rem 0;
  text-align: center;
  width: 4rem;
}

.active-calib-label {
  background: #008aab;
  color: #fff;
}

.calib-vol {
  background: #e6f0f4;
  border-radius: 100%;
  display: inline-block;
  height: 10rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
}

.vol-icons {
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
}


/*********************************
BUTTONS
*********************************/

[class*='btn-submit-'] {
  background: linear-gradient(to right, #874fb2 0%, #008aab 100%);
  border: none;
  border-radius: 10rem;
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: .05em;
  margin: 2rem auto;
  min-width: 12rem;
  outline: none;
  padding: .5rem 1.5rem;
}

[class*='btn-submit-']:hover {
  background: linear-gradient(to right, #7a47a1 0%, #00738f 100%);
}

.btns-yn {
  bottom: 10%;
  left: 50%;
  margin: .5rem auto;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

[class*='btn-yn-'] {
  border: none;
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: .05em;
  margin: 2rem .5rem;
  outline: none;
  padding: .5rem 2rem;
  width: 8rem;
}

.btn-yn-yes { background: #532d6d;  color: #fff; }
.btn-yn-no  { background: #b9aac8;  color: #555; }

.btn-yn-yes:hover { background: #3d214f; }
.btn-yn-no:hover  { background: #afa0bd; }

.vol-icons button {
  background: #532d6d;
  border: none;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 1.2em;
  height: 2rem;
  margin: 1rem 0;
  outline: 0;
  position: relative;
  width: 2rem;
}

.vol-icons button:hover { background: #3d214f; }

.vol-minus:active { top: .05rem; }
.vol-plus:active  { top: .1rem; }
